body{
    background-color: #fdf0e7 !important;
}
.rw-edit01{
padding: -29px 9px 4px 10px;
    margin: 0px -28px 20px -12px;
    width: 108%;

}
  .m-l-34{

    }  margin-left: 34px;

.ml-right01{

    margin-right: -18px;
    margin-left: -12px;
    margin-bottom: 19px;
}
.row.ml-right01 {
    margin: 4px 10px 19px -10px;
    width: 109%;
}
    
.card-designsize01{
    background-color: #fefaf7;
    width: 109%;
    border: antiquewhite;
    border: 1px solid blanchedalmond;
}


.dropdown {
    -webkit-appearance: none;
    -moz-appearance: window;
    padding: 2px 24px 2px 2px;
    border: none;
    background-image: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
/*.card-title {
  margin-bottom: 0.75rem;
}*/

/* Bootstrap css */
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
 margin: -165px 12px 10px 138px;
  }
  
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    max-width: 87%;
    margin-left: 25px;
    margin-top: 9px;
  }
  .new4{
     /*border: 1px solid #d39e0029;*/
    border: 1px solid #d39e001c;
}
#cardwidth{
width: 104%;
height: 456px;
}
img.jkl {
    margin: -2px 14px -3px 119px;
}
b.designing01 {
    margin: 0 10px 10px 43px;
    /* font-size: 16px; */
}
#cardDesrr {
    width: 72%;
    margin-left: -1px;
    padding: 0px 13px 0px 57px;

}
b.fontsixc {
    margin: 17px -26px 7px 55px;
}
  #cardId {
    padding: 0px 0px 1px 0px;
    margin: -11px -6px -9px 12px;
}
p.colormargin {
    margin-left: 21px;
    color: dimgray;
}

#cardwidth{
width: 104%;
height: 427px;
}
h4.design005 {
  /*  padding: 4px 1px 5px -2px;*/
    margin: 11px 12px 8px 11px;
}
img.picturestyle70 {
  
    height: 155px;
    padding: 5px 10px 0px 5px;
}
.changecolor1 {
    margin: -167px 0 -34px 118px;
}
div#cardcolorID1 {
    margin: 60px 11px 17px -14px;
}
p.color001 {
    margin: -9px;
    padding-top: 10px;
}


.card > hr {
    margin-left: 0px;
    margin-right: 0px;
        border: 1px solid antiquewhite;
     margin-top: -6px;
    margin-bottom: 6px;
}
#showmore{
     font-size: small;
    font-weight: bolder;
    color: cornflowerblue;
    text-align: center;
    padding-top: -13px;
    margin-top: -18px;
    margin-bottom: 1px;
    margin-left: 140px;
}
   .img-icon {
    margin: -17px 5px 14px 231px;
    height: 19px;
    width: 6%;
    background-color: salmon;
    /* color: floralwhite; */
    background-color: none;
}
.paragraphstyle {
    margin: 33px 16px 33px 42px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #bb4225;
    color: white;
    padding: 13px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0px 0 36px 2px;
}

 #cardwidth {
    width: 95%;
    height: 243px;
    padding: -27px 6px 3px 2px;
    margin: -14px 4px 2px -1px;
    padding: 0px 0px 7px 0px;
}
/*img.iconHeartLast {
    position: absolute;
    left: 147px;
}*/

img.iconbaredit20 {
    top: -71px;
    position: relative;
    left: 59px;
    background-color: black;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button.badge.badge-success {
    position: top;
    position: relative;
    top: -284px;
    left: -101px;
    background-color: #88c343;
     text-align: center;
  text-transform: uppercase;
 color: white;;

}
.awesomestylwhite {
    margin: -87px 10px 1px 0px;
    background-color: white;
    padding: 3px 0px 1px 8px;
}
img.iconHeartLast {
    position: relative;
    left: 137px;
    top: -280px;
}
img.iconedit17 {
    position: relative;
    top: -64px;
    left: -23px;
}
.blockelement {
   display: block;
    width: 106%;
    border: none;
    background-color: white;
    color: brown;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 4px 12px 51px -10px;
}
.add_discount_plus_minus {
    font-size: 18px;
    margin-top: -24px;
    font-weight: 600;
}
.add_discount_plus_minus {
    font-size: 18px;
    margin-top: -24px;
    font-weight: 600;
}
/********panel******/


.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 25px 15px;
  background-color: grey;
margin: -29px 0px 30px -15px;
    width: 100%;

}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
background-color: grey;
margin: 10px 3px -21px -17px
    width: 101%;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
a.collapsed {
background-color: grey;
margin: 10px 3px -21px -17px;
    width: 101%;
}
div#cardcolorID1 {
    margin: 35px -10px 14px -12px;
    border: 1px solid blanchedalmond;
    background-color: #fefaf7;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body{
    background-color: #fdf0e7 !important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -75px;
    margin-left: -7px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
/*.card-title {
  margin-bottom: 0.75rem;
}*/

/* Bootstrap css */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -72px;
    margin-left: -13px;


 }
 .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    max-width: 90%;
    margin-left: 38px;
    margin-top: 12px;
}
img.jkl {
    margin: 0px 14px -3px 290px;
}
div#cardcolorID1 {
    margin: 60px 11px 17px -13px;
    background-color: #fefaf7;
    width: 103%;
    border: antiquewhite;
    border: 1px solid blanchedalmond;


}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
}

@media only screen and (min-width: 411px) and (max-width: 767px) { 
 .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin: -165px 22px 13px 155px;

}
div#cardcolorID1 {
    margin: 40px 16px 18px -14px;
    width: 107%;
    width: 105% ;padding: 2px -2px 1px 4px;
}
.card-designsize01{
    background-color: #fefaf7;
    width: 105%;
    border: antiquewhite;
    border: 1px solid blanchedalmond;
}
img.iconHeartLast {
    position: relative;
    left: 161px;
    top: -280px;
}
#cardDesrr {
    width: 72%;
    margin-left: -1px;
    padding: 0px 13px 0px 77px;
}
img.iconbaredit20 {
    top: -71px;
    position: relative;
    left: 83px;
    background-color: black;
}
.row.ml-right01 {
       margin: 4px 10px 19px -7px;
    width: 109%;
}
}
@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 only */

    /*img.iconHeartLast {
    position: relative;
    left: 119px;
    top: -280px;

}*/

}